---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb items-center">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <a href="https://wwang.pw" class="gpt-title">Gemini Pro</a>
    <a href="https://wwang.pw" class="gpt-subtitle">Chat</a>
  </div>
  <p mt-1 op-60>
    Based on Gemini Pro API.
    <a href="https://gitlab.com/xiaowansm/img/-/raw/main/pictures/2023/10/16_11_44_36_Wechat.png" target="_blank">Contact me</a>
  </p>
</header>
